# Name : Yash kumar Jaiswal

# Roll No : 1805724

# House : Voldermort

**Importing libraries which we want to use**

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import VarianceThreshold   
import seaborn as sns
from sklearn import preprocessing 
import warnings
warnings.filterwarnings(action="ignore")
import matplotlib.pyplot as plt

**Loading dataset**

In [2]:
dataframe = pd.read_csv(r'C:\Users\KIIT\Downloads\1805724 (3).csv')

**Checking the dimensions of the dataset.**

In [3]:
dataframe.shape

(50000, 19)

**Checking the info about the columns of the dataset.**

In [4]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   business_code           50000 non-null  object
 1   cust_number             50000 non-null  object
 2   name_customer           50000 non-null  object
 3   clear_date              46412 non-null  object
 4   buisness_year           50000 non-null  float64
 5   doc_id                  50000 non-null  float64
 6   posting_date            50000 non-null  object
 7   document_create_date    50000 non-null  int64
 8   document_create_date.1  50000 non-null  int64
 9   due_in_date             50000 non-null  float64
 10  invoice_currency        50000 non-null  object
 11  document type           50000 non-null  object
 12  posting_id              50000 non-null  float64
 13  area_business           0 non-null      float64
 14  total_open_amount       50000 non-null  float64
 15  baseline_create_date    50000 non-null  float64
 16  cust_payment_terms      50000 non-null  object
 17  invoice_id              49993 non-null  float64
 18  isOpen                  50000 non-null  int64
dtypes: float64(8), int64(3), object(8)
memory usage: 7.2+ MB

**Finding columns with null values.**

In [5]:
[col for col in dataframe.columns if dataframe[col].isnull().sum()>0]

['clear_date', 'area_business', 'invoice_id']

In [6]:
dataframe

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200705742,DOT us,2019-03-19 00:00:00,2019.0,1.928891e+09,2019-03-04,20190302,20190304,20190319.0,USD,RV,1.0,NaN,4367.76,20190304.0,NAA8,1.928891e+09,0
1,U001,0200744019,TARG us,2019-10-30 00:00:00,2019.0,1.929752e+09,2019-08-16,20190815,20190816,20191030.0,USD,RV,1.0,NaN,370.18,20190816.0,NAWN,1.929752e+09,0
2,U001,0200769623,WAL-MAR us,2019-01-22 00:00:00,2019.0,1.928594e+09,2019-01-08,20190109,20190108,20190123.0,USD,RV,1.0,NaN,1696.54,20190108.0,NAH4,1.928594e+09,0
3,U001,0200794332,COST in,2019-04-18 00:00:00,2019.0,1.929076e+09,2019-04-04,20190403,20190404,20190419.0,USD,RV,1.0,NaN,118367.97,20190404.0,NAAX,1.929076e+09,0
4,U001,0200974851,RESTA foundation,2019-04-03 00:00:00,2019.0,1.928964e+09,2019-03-14,20190314,20190314,20190403.0,USD,RV,1.0,NaN,344.18,20190314.0,NAD1,1.928964e+09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,CA02,0140106372,G T trust,NaN,2020.0,2.960633e+09,2020-05-05,20200505,20200505,20200517.0,CAD,RV,1.0,NaN,72705.60,20200507.0,CA10,2.960633e+09,1
49996,U001,0200737918,W LEE llc,NaN,2020.0,1.930633e+09,2020-03-12,20200310,20200312,20200327.0,USD,RV,1.0,NaN,31652.84,20200312.0,NAA8,1.930633e+09,1
49997,U001,0200353024,DECA associates,NaN,2020.0,1.930690e+09,2020-03-24,20200324,20200324,20200408.0,USD,RV,1.0,NaN,645.24,20200316.0,NAM4,1.930690e+09,1
49998,U001,0200974851,RESTA llc,NaN,2020.0,1.930795e+09,2020-04-16,20200416,20200416,20200506.0,USD,RV,1.0,NaN,219.73,20200416.0,NAD1,1.930795e+09,1
49999,U001,0200769623,WAL-MAR corp,NaN,2020.0,1.930874e+09,2020-05-08,20200507,20200508,20200523.0,USD,RV,1.0,NaN,4332.64,20200508.0,NAH4,1.930874e+09,1

**Finding the rows of area_business that contains null values.**

In [7]:
dataframe[dataframe['area_business'].isnull()].shape

(50000, 19)

**As area_buisness contains only null values we will drop this columns as it will not provide us with any new information.**

In [8]:
dataframe.drop(['area_business'],axis = 1,inplace=True)

**Finding rows in invoice id which are null.**

In [9]:
dataframe[dataframe['invoice_id'].isnull()]

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
682,CA02,0140104225,SAVE-ON-,2019-05-08 00:00:00,2019.0,9.500000e+09,2019-03-29,20190329,20190221,20190303.0,CAD,X2,1.0,4065.13,20190221.0,CA10,NaN,0
2992,CA02,0140104429,COSTCO co,2019-05-22 00:00:00,2019.0,9.500000e+09,2019-03-29,20190329,20190322,20190401.0,CAD,X2,1.0,5353.20,20190322.0,CA10,NaN,0
14477,CA02,0100030194,AMAZO in,2019-12-27 00:00:00,2019.0,9.500000e+09,2019-03-29,20190329,20190305,20190315.0,CAD,X2,1.0,753.25,20190305.0,CA10,NaN,0
15977,CA02,0140104225,SAVE-ON- in,2019-05-02 00:00:00,2019.0,9.500000e+09,2019-03-29,20190329,20190220,20190302.0,CAD,X2,1.0,3620.16,20190220.0,CA10,NaN,0
35382,CA02,0140104429,COSTCO systems,2019-05-14 00:00:00,2019.0,9.500000e+09,2019-03-29,20190329,20190311,20190321.0,CAD,X2,1.0,5353.20,20190311.0,CA10,NaN,0
36492,CA02,0140104223,H Y LO systems,2019-05-08 00:00:00,2019.0,9.500000e+09,2019-04-30,20190430,20190329,20190408.0,CAD,X2,1.0,44416.80,20190329.0,CA10,NaN,0
43868,CA02,0140104409,LOB corp,2019-12-27 00:00:00,2019.0,9.500000e+09,2019-03-29,20190329,20181204,20181214.0,CAD,X2,1.0,305.64,20181204.0,CA10,NaN,0

**Dropping rows having null values in invoice id column as invoice id should be unique so column value with null value is of no use.**

In [10]:
#dataframe.drop([11560,25147,27485],axis = 0,inplace = True)
dataframe.drop(dataframe.loc[dataframe['invoice_id'].isnull()].index,inplace=True)

**As invoice id is unique identifier so we will check if its unique for every value.**

In [11]:
dataframe['invoice_id'].nunique()

49993

**As the count of unique value of invoice id is equals to the rows left in the datframe so this shows each every value is unique.**

**Dropping document_create_date as we have document_create_date.1 as a normalised date.**

In [12]:
dataframe.drop('document_create_date',axis=1,inplace=True)

**Converting all the date columns into datetime format.**

In [13]:
dataframe["document_create_date.1"]= pd.to_datetime(dataframe["document_create_date.1"], format="%Y%m%d")
dataframe["due_in_date"]= pd.to_datetime(dataframe["due_in_date"], format="%Y%m%d")
dataframe["baseline_create_date"]= pd.to_datetime(dataframe["baseline_create_date"], format="%Y%m%d")
dataframe['clear_date'] = pd.to_datetime(dataframe['clear_date']).dt.date
dataframe['clear_date'] = pd.to_datetime(dataframe['clear_date'])
dataframe['posting_date']= pd.to_datetime(dataframe['posting_date'])
dataframe['pay_time_days'] = (dataframe['clear_date'] - dataframe['posting_date']).dt.days

**Document create date can never be after the due date so firstly checking for that rows and dropping them.**

In [14]:
dataframe.drop(dataframe[dataframe['document_create_date.1'] > dataframe['due_in_date']].index,inplace=True)
dataframe

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen,pay_time_days
0,U001,0200705742,DOT us,2019-03-19,2019.0,1.928891e+09,2019-03-04,2019-03-04,2019-03-19,USD,RV,1.0,4367.76,2019-03-04,NAA8,1.928891e+09,0,15.0
1,U001,0200744019,TARG us,2019-10-30,2019.0,1.929752e+09,2019-08-16,2019-08-16,2019-10-30,USD,RV,1.0,370.18,2019-08-16,NAWN,1.929752e+09,0,75.0
2,U001,0200769623,WAL-MAR us,2019-01-22,2019.0,1.928594e+09,2019-01-08,2019-01-08,2019-01-23,USD,RV,1.0,1696.54,2019-01-08,NAH4,1.928594e+09,0,14.0
3,U001,0200794332,COST in,2019-04-18,2019.0,1.929076e+09,2019-04-04,2019-04-04,2019-04-19,USD,RV,1.0,118367.97,2019-04-04,NAAX,1.929076e+09,0,14.0
4,U001,0200974851,RESTA foundation,2019-04-03,2019.0,1.928964e+09,2019-03-14,2019-03-14,2019-04-03,USD,RV,1.0,344.18,2019-03-14,NAD1,1.928964e+09,0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,CA02,0140106372,G T trust,NaT,2020.0,2.960633e+09,2020-05-05,2020-05-05,2020-05-17,CAD,RV,1.0,72705.60,2020-05-07,CA10,2.960633e+09,1,NaN
49996,U001,0200737918,W LEE llc,NaT,2020.0,1.930633e+09,2020-03-12,2020-03-12,2020-03-27,USD,RV,1.0,31652.84,2020-03-12,NAA8,1.930633e+09,1,NaN
49997,U001,0200353024,DECA associates,NaT,2020.0,1.930690e+09,2020-03-24,2020-03-24,2020-04-08,USD,RV,1.0,645.24,2020-03-16,NAM4,1.930690e+09,1,NaN
49998,U001,0200974851,RESTA llc,NaT,2020.0,1.930795e+09,2020-04-16,2020-04-16,2020-05-06,USD,RV,1.0,219.73,2020-04-16,NAD1,1.930795e+09,1,NaN
49999,U001,0200769623,WAL-MAR corp,NaT,2020.0,1.930874e+09,2020-05-08,2020-05-08,2020-05-23,USD,RV,1.0,4332.64,2020-05-08,NAH4,1.930874e+09,1,NaN

**Baseline create date can never be after the due date so firstly checking for that rows and dropping them.**

In [15]:
dataframe.drop(dataframe[dataframe['baseline_create_date'] > dataframe['due_in_date']].index,inplace=True)
dataframe

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen,pay_time_days
0,U001,0200705742,DOT us,2019-03-19,2019.0,1.928891e+09,2019-03-04,2019-03-04,2019-03-19,USD,RV,1.0,4367.76,2019-03-04,NAA8,1.928891e+09,0,15.0
1,U001,0200744019,TARG us,2019-10-30,2019.0,1.929752e+09,2019-08-16,2019-08-16,2019-10-30,USD,RV,1.0,370.18,2019-08-16,NAWN,1.929752e+09,0,75.0
2,U001,0200769623,WAL-MAR us,2019-01-22,2019.0,1.928594e+09,2019-01-08,2019-01-08,2019-01-23,USD,RV,1.0,1696.54,2019-01-08,NAH4,1.928594e+09,0,14.0
3,U001,0200794332,COST in,2019-04-18,2019.0,1.929076e+09,2019-04-04,2019-04-04,2019-04-19,USD,RV,1.0,118367.97,2019-04-04,NAAX,1.929076e+09,0,14.0
4,U001,0200974851,RESTA foundation,2019-04-03,2019.0,1.928964e+09,2019-03-14,2019-03-14,2019-04-03,USD,RV,1.0,344.18,2019-03-14,NAD1,1.928964e+09,0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,CA02,0140106372,G T trust,NaT,2020.0,2.960633e+09,2020-05-05,2020-05-05,2020-05-17,CAD,RV,1.0,72705.60,2020-05-07,CA10,2.960633e+09,1,NaN
49996,U001,0200737918,W LEE llc,NaT,2020.0,1.930633e+09,2020-03-12,2020-03-12,2020-03-27,USD,RV,1.0,31652.84,2020-03-12,NAA8,1.930633e+09,1,NaN
49997,U001,0200353024,DECA associates,NaT,2020.0,1.930690e+09,2020-03-24,2020-03-24,2020-04-08,USD,RV,1.0,645.24,2020-03-16,NAM4,1.930690e+09,1,NaN
49998,U001,0200974851,RESTA llc,NaT,2020.0,1.930795e+09,2020-04-16,2020-04-16,2020-05-06,USD,RV,1.0,219.73,2020-04-16,NAD1,1.930795e+09,1,NaN
49999,U001,0200769623,WAL-MAR corp,NaT,2020.0,1.930874e+09,2020-05-08,2020-05-08,2020-05-23,USD,RV,1.0,4332.64,2020-05-08,NAH4,1.930874e+09,1,NaN

**Dropping business year as this column is not any use ,as dates can provide us with year.**

In [16]:
dataframe.drop('buisness_year',axis=1,inplace=True)

**Checking if document create date and baseline create date are equal or not.**

In [17]:
check2 = dataframe[dataframe['document_create_date.1']!=dataframe['baseline_create_date']]
check2.shape

(5348, 17)

**As we can see all rows of the columns document create date and baseline create date are not equal we will not remove it.**

**Changing all the amount to one currency.**

In [18]:
dataframe['total_open_amount'] = np.where(dataframe['invoice_currency'] == 'CAD',
                                           dataframe['total_open_amount'] * 0.79,
                                           dataframe['total_open_amount'])
dataframe['total_open_amount']=dataframe['total_open_amount'].astype(float)

**After changing the values updating the currency in invoice_currency column.**

In [19]:
dataframe['invoice_currency'].replace({'CAD':'USD'},inplace=True)

**Label encoding the rows with categorical values and checking the variance for threshold 0.**

In [20]:
le = preprocessing.LabelEncoder()
dataframe['document type']= le.fit_transform(dataframe['document type'])
dataframe['invoice_currency']= le.fit_transform(dataframe['invoice_currency'])

In [21]:
vs_constant = VarianceThreshold(threshold=0.1)
numerical_data = dataframe[dataframe.select_dtypes([np.number]).columns]
vs_constant.fit(numerical_data)
constant_columns = [column for column in numerical_data.columns
                    if column not in numerical_data.columns[vs_constant.get_support()]]
print(constant_columns)
dataframe.drop(labels=constant_columns, axis=1, inplace=True)

['invoice_currency', 'document type', 'posting_id', 'isOpen']

Since there is a column whose variance is less than 0.1 we will delete it.

**Having only one column between name_customer and cust_number.**

In [22]:
dataframe.drop(['name_customer'],axis=1,inplace=True)

In [23]:
dataframe

,business_code,cust_number,clear_date,doc_id,posting_date,document_create_date.1,due_in_date,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,pay_time_days
0,U001,0200705742,2019-03-19,1.928891e+09,2019-03-04,2019-03-04,2019-03-19,4367.760,2019-03-04,NAA8,1.928891e+09,15.0
1,U001,0200744019,2019-10-30,1.929752e+09,2019-08-16,2019-08-16,2019-10-30,370.180,2019-08-16,NAWN,1.929752e+09,75.0
2,U001,0200769623,2019-01-22,1.928594e+09,2019-01-08,2019-01-08,2019-01-23,1696.540,2019-01-08,NAH4,1.928594e+09,14.0
3,U001,0200794332,2019-04-18,1.929076e+09,2019-04-04,2019-04-04,2019-04-19,118367.970,2019-04-04,NAAX,1.929076e+09,14.0
4,U001,0200974851,2019-04-03,1.928964e+09,2019-03-14,2019-03-14,2019-04-03,344.180,2019-03-14,NAD1,1.928964e+09,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,CA02,0140106372,NaT,2.960633e+09,2020-05-05,2020-05-05,2020-05-17,57437.424,2020-05-07,CA10,2.960633e+09,NaN
49996,U001,0200737918,NaT,1.930633e+09,2020-03-12,2020-03-12,2020-03-27,31652.840,2020-03-12,NAA8,1.930633e+09,NaN
49997,U001,0200353024,NaT,1.930690e+09,2020-03-24,2020-03-24,2020-04-08,645.240,2020-03-16,NAM4,1.930690e+09,NaN
49998,U001,0200974851,NaT,1.930795e+09,2020-04-16,2020-04-16,2020-05-06,219.730,2020-04-16,NAD1,1.930795e+09,NaN
49999,U001,0200769623,NaT,1.930874e+09,2020-05-08,2020-05-08,2020-05-23,4332.640,2020-05-08,NAH4,1.930874e+09,NaN

**Transpose the dataframe, so that the columns are the rows of the new dataframe.**

In [24]:
data_t = dataframe.T
data_t.head()

,0,1,2,3,4,5,6,7,8,9,...,49990,49991,49992,49993,49994,49995,49996,49997,49998,49999
business_code,U001,U001,U001,U001,U001,U001,U001,U001,U001,U001,...,U001,U001,U001,U001,U001,CA02,U001,U001,U001,U001
cust_number,0200705742,0200744019,0200769623,0200794332,0200974851,0200769623,0100000158,0200769623,0200759878,0200769623,...,0200706844,0200769623,0200729942,0200732755,0200769623,0140106372,0200737918,0200353024,0200974851,0200769623
clear_date,2019-03-19 00:00:00,2019-10-30 00:00:00,2019-01-22 00:00:00,2019-04-18 00:00:00,2019-04-03 00:00:00,2019-09-27 00:00:00,2019-09-11 00:00:00,2019-10-16 00:00:00,2019-04-17 00:00:00,2019-09-16 00:00:00,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
doc_id,1.92889e+09,1.92975e+09,1.92859e+09,1.92908e+09,1.92896e+09,1.92988e+09,1.92937e+09,1.92994e+09,1.92905e+09,1.92977e+09,...,1.93069e+09,1.93071e+09,1.93065e+09,1.93068e+09,1.93061e+09,2.96063e+09,1.93063e+09,1.93069e+09,1.9308e+09,1.93087e+09
posting_date,2019-03-04 00:00:00,2019-08-16 00:00:00,2019-01-08 00:00:00,2019-04-04 00:00:00,2019-03-14 00:00:00,2019-09-17 00:00:00,2019-05-24 00:00:00,2019-09-30 00:00:00,2019-04-01 00:00:00,2019-08-23 00:00:00,...,2020-03-25 00:00:00,2020-03-27 00:00:00,2020-03-20 00:00:00,2020-03-21 00:00:00,2020-03-05 00:00:00,2020-05-05 00:00:00,2020-03-12 00:00:00,2020-03-24 00:00:00,2020-04-16 00:00:00,2020-05-08 00:00:00

**Check if there are duplicated rows (the columns of the original dataframe) sum indicates how many rows are duplicated.**

In [25]:
data_t.duplicated().sum()

2

**Visualise the duplicated rows (the columns of the original dataframe).**

In [26]:
data_t[data_t.duplicated()]

,0,1,2,3,4,5,6,7,8,9,...,49990,49991,49992,49993,49994,49995,49996,49997,49998,49999
document_create_date.1,2019-03-04 00:00:00,2019-08-16 00:00:00,2019-01-08 00:00:00,2019-04-04 00:00:00,2019-03-14 00:00:00,2019-09-17 00:00:00,2019-05-24 00:00:00,2019-09-30 00:00:00,2019-04-01 00:00:00,2019-08-23 00:00:00,...,2020-03-25 00:00:00,2020-03-27 00:00:00,2020-03-20 00:00:00,2020-03-21 00:00:00,2020-03-05 00:00:00,2020-05-05 00:00:00,2020-03-12 00:00:00,2020-03-24 00:00:00,2020-04-16 00:00:00,2020-05-08 00:00:00
invoice_id,1.92889e+09,1.92975e+09,1.92859e+09,1.92908e+09,1.92896e+09,1.92988e+09,1.92937e+09,1.92994e+09,1.92905e+09,1.92977e+09,...,1.93069e+09,1.93071e+09,1.93065e+09,1.93068e+09,1.93061e+09,2.96063e+09,1.93063e+09,1.93069e+09,1.9308e+09,1.93087e+09

**We can capture the duplicated features, by capturing the index values of the transposed dataframe.**

In [27]:
duplicated_features = data_t[data_t.duplicated()].index.values
duplicated_features

array(['document_create_date.1', 'invoice_id'], dtype=object)

**Alternatively, we can remove the duplicated rows, transpose the dataframe back to the variables as columns keep last indicates that we keep the last of a set of duplicated variables.**

In [28]:
data = data_t.drop_duplicates(keep='last').T
data.shape

(49858, 10)

**Now we have no use of invoice id in our prediction so we will drop it.**

In [29]:
data.drop('invoice_id',axis=1,inplace=True)

In [30]:
data

,business_code,cust_number,clear_date,document_create_date.1,due_in_date,total_open_amount,baseline_create_date,cust_payment_terms,pay_time_days
0,U001,0200705742,2019-03-19,2019-03-04,2019-03-19,4367.76,2019-03-04,NAA8,15
1,U001,0200744019,2019-10-30,2019-08-16,2019-10-30,370.18,2019-08-16,NAWN,75
2,U001,0200769623,2019-01-22,2019-01-08,2019-01-23,1696.54,2019-01-08,NAH4,14
3,U001,0200794332,2019-04-18,2019-04-04,2019-04-19,118368,2019-04-04,NAAX,14
4,U001,0200974851,2019-04-03,2019-03-14,2019-04-03,344.18,2019-03-14,NAD1,20
...,...,...,...,...,...,...,...,...,...
49995,CA02,0140106372,NaT,2020-05-05,2020-05-17,57437.4,2020-05-07,CA10,NaN
49996,U001,0200737918,NaT,2020-03-12,2020-03-27,31652.8,2020-03-12,NAA8,NaN
49997,U001,0200353024,NaT,2020-03-24,2020-04-08,645.24,2020-03-16,NAM4,NaN
49998,U001,0200974851,NaT,2020-04-16,2020-05-06,219.73,2020-04-16,NAD1,NaN
49999,U001,0200769623,NaT,2020-05-08,2020-05-23,4332.64,2020-05-08,NAH4,NaN

In [31]:
data['total_open_amount']=data['total_open_amount'].astype(float)

**And in this case if the value in the target variable is NULL then put it in the test set.**

**Reason for splitting on date basis :- Since in some of the use cases we will always be making prediction for the future data so in this case we will have to make the train, validation, and test split on the basis of date instead of random split. For example if we are training the model for data between january to september then the validation set can be from october to mid of november and test set can be from mid of november and onwards.**

In [32]:
data.shape

(49858, 9)

In [33]:
test=data[data['clear_date'].isnull()]
test.shape

(3569, 9)

In [34]:
REST= data[data['clear_date'].notnull()]
REST.shape

(46289, 9)

In [35]:

#70% of data is with temp 
train, X_validation = train_test_split(REST,test_size=.3, shuffle = "False")
train.shape,X_validation.shape

((32402, 9), (13887, 9))

In [36]:

val1, val2 = train_test_split(X_validation,test_size=.5, shuffle = "False")
val1.shape,val2.shape

((6943, 9), (6944, 9))

In [37]:
train.shape,test.shape

((32402, 9), (3569, 9))

**Baseline create date can not be after the clear date so removing that rows which satisfies the condition that baseline create date date is after the clear date**

In [38]:
train.drop(train[train['baseline_create_date'] > train['clear_date']].index,inplace=True)
train

,business_code,cust_number,clear_date,document_create_date.1,due_in_date,total_open_amount,baseline_create_date,cust_payment_terms,pay_time_days
33121,U001,0200744019,2019-08-02,2019-07-20,2019-08-04,4893.8500,2019-07-20,NAA8,13
23533,U001,0200744019,2019-10-22,2019-10-05,2019-10-20,48931.1200,2019-10-05,NAA8,17
45158,U001,0200744019,2019-10-29,2019-10-11,2019-10-26,7664.5400,2019-10-11,NAA8,18
31167,U001,0200713007,2019-02-20,2019-02-06,2019-02-21,55084.5200,2019-02-06,NAA8,14
39480,U001,0200769623,2020-02-05,2020-01-26,2020-02-10,14727.1600,2020-01-26,NAH4,10
...,...,...,...,...,...,...,...,...,...
27699,U001,0200743592,2019-11-20,2019-11-08,2019-11-23,51438.3500,2019-11-08,NAA8,12
36481,U001,0200920735,2019-11-07,2019-10-23,2019-11-07,68869.1000,2019-10-23,NAA8,15
26534,U001,0100001196,2019-10-15,2019-09-23,2019-10-08,23149.7100,2019-09-23,NAA8,22
18191,CA02,0140105686,2020-03-19,2020-02-25,2020-03-13,4658.9855,2020-03-03,CA10,23
32558,U001,0200759878,2019-02-14,2019-01-30,2019-02-14,32207.0300,2019-01-30,NAH4,15

**Document create date can not be after the clear date so removing that rows which satisfies the condition that document create date is after the clear date**

In [ ]:
train.drop(train[train['document_create_date.1'] > train['clear_date']].index,inplace=True)
train

**Finding the delay column in days**

In [ ]:
train['delay'] = (train['clear_date'] - train['due_in_date']).dt.days
train

**Plotting the boxplot of delay column**

In [ ]:
plt.figure(figsize=(8,8))
sns.set_theme(style="whitegrid")
sns.boxplot(x=train['delay'],width=0.8,color="red",whis=1.5,fliersize=5)

In [ ]:
delay_list = list(train['delay'])
delay_list

**Minimum no of days taken by the customer to clear his payment**

In [ ]:
min(delay_list)

**It is negative as the customer is paying before the expected date**

**Maximum no of days taken by the customer to clear his payments

In [ ]:
max(delay_list)

**Checking the outliers**

In [ ]:
IQR=train['delay'].quantile(0.75)-train['delay'].quantile(0.25)
lower_boundary=train['delay'].quantile(0.25)-(IQR*3)
upper_boundary=train['delay'].quantile(0.75)+(IQR*3)
print(lower_boundary)
print(upper_boundary)

**Plotting the frequency graph acc to some range**

In [ ]:
bins = [-120,-30,-15,0,15,30,45,60,300]
plt.hist(delay_list,bins,histtype='bar',rwidth=0.9,color='red')
plt.xlabel('delay')
plt.ylabel('frequency')
plt.title('Bar Graph')
plt.show

**Counts in the particular ranges**

In [ ]:
delay_bucket = pd.cut(delay_list,bins=bins)
delay_bucket.value_counts()

**Gaussian Transformation**

Some machine learning models like linear and logistic regression assume that the variables are normally distributed. Others benefit from "Gaussian-like" distributions, as in such distributions the observations of X available to predict Y vary across a greater range of values. Thus, Gaussian distributed variables may boost the machine learning algorithm performance.

If a variable is not normally distributed, sometimes it is possible to find a mathematical transformation so that the transformed variable is Gaussian.

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

import pylab 
import scipy.stats as stats
def impute_na(data, variable):
   
    df = data.copy()
    
    # random sampling
    df[variable+'_random'] = df[variable]
    
    # extract the random sample to fill the na
    random_sample = df[variable].dropna().sample(df[variable].isnull().sum(), random_state=0)
    
    # pandas needs to have the same index in order to merge datasets
    random_sample.index = df[df[variable].isnull()].index
    df.loc[df[variable].isnull(), variable+'_random'] = random_sample
    
    return df[variable+'_random']

In [ ]:
data['delay'] = impute_na(train, 'delay')

In [ ]:
def diagnostic_plots(df, variable):
    # function to plot a histogram and a Q-Q plot
    # side by side, for a certain variable
    
    plt.figure(figsize=(15,6))
    plt.subplot(1, 2, 1)
    df[variable].hist()

    plt.subplot(1, 2, 2)
    stats.probplot(df[variable], dist="norm", plot=pylab)

    plt.show()
    
diagnostic_plots(data, 'delay')

**Plotting the kde plot to check if the delay column is skewed or normally distributed**

In [ ]:
sns.displot(train['delay'],kind='kde',cut=0)

**We can see that this is already in Normal Distribution. We do no need to change it.**

In [ ]:
bin1 = [0,5000,10000,50000,100000,500000,7500000]
list1 = list(train['total_open_amount'])
total_bucket = pd.cut(list1,bins=bin1)

In [ ]:
pd.crosstab(index = total_bucket,columns = delay_bucket)

**Plotting delay with the total_open_amount**

In [ ]:
plt.figure(figsize=(10,10))
plt.xlabel('Amount bin')
sns.countplot(x = total_bucket,hue=delay_bucket)

In [ ]:
sns.catplot(x = 'business_code',y='total_open_amount',data=train,jitter=True)

In [ ]:
plt.figure(figsize=(20,10))
sns.lineplot(train['due_in_date'].dt.week,train['delay'])
plt.xlabel("Invoice Due Date")
plt.ylabel("Delay in Payment")
plt.show()

In [ ]:
train.sort_values(by='document_create_date.1',inplace=True)
train
train.reset_index(drop=True,inplace=True)

In [ ]:
train,val=train_test_split(train,test_size=0.2,shuffle=False,random_state=None)
val1,val2=train_test_split(val,test_size=0.5,shuffle=False,random_state=None)

# Cardinality

Cardinality meaning the number of elements in a set or other grouping, as a property of that grouping.

In [ ]:
# let's inspect the cardinality, this is the number
# of different labels, for the different categorical variables

print('Number of categories in the variable bussiness_code in data set: {}'.format(
    len(data.business_code.unique())))
print('Number of categories in the variable bussiness_code in Train set : {}'.format(
    len(train.business_code.unique())))
print('Number of categories in the variable bussiness_code in Test set: {}'.format(
    len(test.business_code.unique())))
print('Number of categories in the variable cust_payment_terms in data set: {}'.format(
    len(data.cust_payment_terms.unique())))
print('Number of categories in the variable cust_payment_terms in Train set : {}'.format(
    len(train.cust_payment_terms.unique())))
print('Number of categories in the variable cust_payment_terms in Test set: {}'.format(
    len(test.cust_payment_terms.unique())))

In [ ]:
unique_to_train_set_bussuiness_code = [
    x for x in train.business_code.unique() if x not in test.business_code.unique()
]
unique_to_train_set_cust_pay_terms = [
    x for x in train.cust_payment_terms.unique() if x not in test.cust_payment_terms.unique()
]

print("unique_to_train_set_bussuiness_code",len(unique_to_train_set_bussuiness_code))

print("unique_to_train_set_cust_pay_terms ",len(unique_to_train_set_cust_pay_terms))

In [ ]:
# Let's find out labels present only in the test set

unique_to_test_set_bussuiness_code= [
    x for x in test.business_code.unique() if x not in train.business_code.unique()
]
unique_to_test_set_cust_pay_terms = [
    x for x in train.cust_payment_terms.unique() if x not in test.cust_payment_terms.unique()
]

print(len(unique_to_test_set_bussuiness_code))

print(len(unique_to_test_set_cust_pay_terms))

In [ ]:
print(test.shape)
print(train.shape)
print(val1.shape)
print(val2.shape)

In [ ]:
map_bcode_a = train.groupby('business_code')['total_open_amount'].agg('mean')
print(map_bcode_a)
train['bcode_total_open_amount_avg'] = train['business_code'].map(map_bcode_a)

In [ ]:
map_bcode_d = train.groupby('business_code')['delay'].agg('mean')
train['bcode_delay_avg'] = train['business_code'].map(map_bcode_d)

In [ ]:
map_cust_p_a = train.groupby('cust_payment_terms')['total_open_amount'].agg('mean')
train['cust_pay_total_open_amount_avg'] = train['cust_payment_terms'].map(map_cust_p_a)

In [ ]:
map_cust_p_d = train.groupby('cust_payment_terms')['delay'].agg('mean')
train['cust_pay_delay_avg'] = train['cust_payment_terms'].map(map_cust_p_d)

In [ ]:
map_cust_no_a = train.groupby('cust_number')['total_open_amount'].agg('mean')
train['cust_no_total_open_amount_avg'] = train['cust_number'].map(map_cust_no_a)

In [ ]:
map_cust_no_d = train.groupby('cust_number')['delay'].agg('mean')
train['cust_no_delay_avg'] = train['cust_number'].map(map_cust_no_d)

In [ ]:
train["early_payments"]=np.where(train['delay']<0,1,0)

In [ ]:
plt.figure(figsize=(14,10))
corr = train.corr()# plot the heatmap
sns.heatmap(corr, xticklabels=corr.columns, yticklabels=corr.columns, annot=True, cmap=sns.diverging_palette(220, 20, as_cmap=True))

In [ ]:
train

In [ ]:
train['cust_number'].nunique()

Correlation is a statistical measure that expresses the extent to which two variables are linearly related (meaning they change together at a constant rate). It’s a common tool for describing simple relationships without making a statement about cause and effect.

In [ ]:
def correlation(dataset, threshold):
    col_corr = set()  # Set of all the names of correlated columns
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i, j]) > threshold: # we are interested in absolute coeff value
                colname = corr_matrix.columns[i]  # getting the name of column
                col_corr.add(colname)
    return col_corr

In [ ]:
corr_features = correlation(train, 0.7)
len(set(corr_features))
print(corr_features)

We can see that there is positive correlation features between  are customer number and delay

In [ ]:
train.head()

** Import Linear Regression **

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import numpy as np

**Mapping train feature selction variable with train, val1 , val2 and test**

In [ ]:
cols_used = {'business_code': 'bcode_delay_avg','cust_payment_terms':'cust_pay_delay_avg', 
             'cust_number':'cust_no_delay_avg'}

for i in cols_used:
    mapper=train.groupby(train[i])['delay'].mean().to_dict()
    train[cols_used[i]] = train[i].map(mapper)
    val1[cols_used[i]] = val1[i].map(mapper)
    val2[cols_used[i]] = val2[i].map(mapper)
    test[cols_used[i]] = test[i].map(mapper)
train.head()

We  found cust_pay_delay_avg and cust_no_delay_avg have some NULL value.

In [ ]:
print(val1.isna().any())
list_of_nulls=['cust_pay_delay_avg','cust_no_delay_avg']
list_of_nulls=[]
for i in list_of_nulls:
    indices=val1.loc[val1[i].isna()].index
    val1.drop(indices,axis=0,inplace=True)
val1.head()

Correction of NULL values of data in cust_pay_delay_avg and cust_no_delay_avg

In [ ]:
val1['cust_pay_delay_avg'] = val1[val1['cust_pay_delay_avg'].notnull()]  
val1['cust_no_delay_avg'] = val1[val1['cust_no_delay_avg'].notnull()]
print(val1.isna().any())

We found cust_pay_delay_avg and cust_no_delay_avg have some NULL value same as Val1

In [ ]:
print(val2.isna().any())
list_of_nulls=['cust_pay_delay_avg','cust_no_delay_avg']
for i in list_of_nulls:
    indices=val2.loc[val2[i].isna()].index
    val2.drop(indices,axis=0,inplace=True)

Correction of NULL values of data in cust_pay_delay_avg and cust_no_delay_avg

In [ ]:
val2['cust_pay_delay_avg'] = val2[val2['cust_pay_delay_avg'].notnull()]  
val2['cust_no_delay_avg'] = val2[val2['cust_no_delay_avg'].notnull()]
print(val2.isna().any())

Creating varaible .fit() and .predict() parameter

In [ ]:
list1 = ['cust_pay_delay_avg','cust_no_delay_avg']
X_train = train[list1]
X_val1 = val1[list1]
X_val2 = val2[list1]
d =['delay']
Y_train = train[d]
Y_val1 = val1[d]
Y_val2 = val2[d]

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Modeling & Accuracy Metrics
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import load_boston
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [ ]:
Y_train.head()
Y_train.info()

In [ ]:
MSE = []
R2_Score =[]
Algorithm = []

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Modeling & Accuracy Metrics
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import load_boston
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# Trying to Resolve Error

In [ ]:
# Fitting Simple Linear Regression to the Training Set
Algorithm.append('Linear Regression')
clf = LinearRegression()
clf.fit(X_train, Y_train)
 # Error : could not convert string to float: 'U001'
predicted = clf.predict(X_val1)

In [ ]:
X_train.info()
X_train.head(10)

train has float value

In [ ]:
Y_train.info()
Y_train.head(10)

# val1 and val2 has object value. This is Error

In [ ]:

X_val1.info()
X_val2.info()
X_val2.head()

# val1 and val2 has object value. This is Error

In [ ]:
Y_val1.info()
Y_val2.info()
Y_val2.head()

# Again, Trying to Resolve Error

In [ ]:
Algorithm.append('Support Vector Regression')
clf = SVR()
clf.fit(X_train, Y_train)

# Predicting the Test Set Results
predicted = clf.predict(X_val1)